.no-border {
  border-collapse: collapse;
}

.square {
  width: 100px;
  height: 100px;
}

.light {
  background-color: #FFCE9E;
}

.dark {
  background-color: #D18B47;
}

.wrapper {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}